<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://dmz-corp.com/static/bootstrap.css" type="text/css"> 
  <title>DMZ CORPORATION</title>
</head>

{% block title %}
<div class="container">
  <div class="row"></br>
    <div class="span12">
      <h1><center> DMZ CORPORATION </center></h1>    
    </div>
    <div class="span6">
      <p><center> featured in a twitter-bootstrapped environment </center></p>
    </div>
  </div>
{% endblock %}

{% block body %}

{% endblock %}
</div>
</html>
